body {
    font-family: -apple-system, system-ui;
    color: #ccc;
    font-size: 1rem;

    background-color: black;
    background-image:
        radial-gradient(white, rgba(255, 255, 255, 0.2) 2px, transparent 4px),
        radial-gradient(white, rgba(255, 255, 255, 0.15) 1px, transparent 3px),
        radial-gradient(white, rgba(255, 255, 255, 0.1) 2px, transparent 4px),
        radial-gradient(
            rgba(255, 255, 255, 0.4),
            rgba(255, 255, 255, 0.1) 2px,
            transparent 3px
        );
    background-size:
        550px 550px,
        350px 350px,
        250px 250px,
        150px 150px;
    background-position:
        0 0,
        40px 60px,
        130px 270px,
        70px 100px;
    margin: 0;
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;
}

main {
    width: 100dvw;
    height: 100dvh;
}

planet-3b {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 3rem;
    aspect-ratio: 1;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

#toast {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.5rem;
    background-color: #2228;
    backdrop-filter: blur(1rem);
    border-radius: 0.5rem;
    border: 0.1rem solid #ccc;
    z-index: 2;
    transition:
        opacity 0.25s,
        visibility 0.25s;
    text-align: center;
}

.warning {
    display: none;
}
@media (any-hover: none) and (any-pointer: coarse) {
    /* Touch-only mobile devices */
    .warning {
        color: red;
        display: block;
    }
}
